DATABASE_URL='postgresql://neondb_owner:npg_ky4VKCdn9IAt@ep-weathered-union-an47o6ri-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'
JWT_SECRET='super-secret-jwt-key-2026-byl-finanzas'
